.base__container {
  max-width: 1200px;
  width: 100%;
  margin: auto;
  padding: 15px 10px;

  .base__header {
    justify-content: space-between;

    .base__header-title {
      gap: 8px;

      .base__header-logo {
        width: 40px;
        height: 40px;
        border-radius: 6px;
      }

      .title {
        align-self: flex-end;
        font-size: 1.6rem;
        font-weight: 600;
        line-height: 26px;
      }
    }

    .base__header-info {
      gap: 15px;
      font-size: .9rem;
      color: lightslategray;

      @media (max-width: 415px) {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 5px;
      }

      .active__elem {
        display: inline-block;
        color: cornflowerblue;
        font-weight: 600;
      }

      .completed__elem {
        display: inline-block;
        color: #1dc068;
        font-weight: 600;
      }
    }
  }

  .base__main {
    margin-top: 2.5em;

    .base__main-info {
      display: flex;
      flex-direction: column;
      gap: .6rem;

      .mein__title {
        gap: 3px;

        .main__title-icon {
          align-self: flex-end;
          font-size: 1.8rem;
          transform: rotate(-155deg);
        }

        .title {
          font-size: 2.5rem;
          font-weight: 700;
          line-height: 1.8rem;
        }
      }

      .main__description {
        font-size: .9rem;
        line-height: 1rem;
        color: #6b6b6b;

        @media (max-width: 375px) {
          display: none;
        }

        .description__item {
          gap: 5px;

          .mat-chip {
            padding: 3px 5px;
            border-radius: 27px;
            background: cornflowerblue;
          }
        }

        .description__item:first-child {
          margin-bottom: 5px;
        }
      }
    }

    .base__main-actions {
      justify-content: space-between;
      margin-top: 2.5em;

      @media (max-width: 375px) {
        margin-top: 1em;
      }

      .main__actions-title {
        gap: 3px;
        font-size: 1.1rem;
        font-weight: 600;
        color: #22242b;

        @media (max-width: 415px) {
          span {
            display: none;
          }
        }

        .mat-icon {
          font-size: 0.9rem;
          width: 12px;
          height: 11px;

          @media (max-width: 415px) {
            display: none;
          }
        }

        .new__task-button {
          display: flex;
          align-items: center;
          height: 2em;
          border: none;
          margin-left: .8em;
          font-size: 1rem;
          background: cornflowerblue;
          color: white;
          border-radius: 27px;
          cursor: pointer;

          &::ng-deep .mat-ripple {
            max-width: 6.2em;
            width: 100%;
            height: 2em;
            border-radius: 4px;
          }
        }
      }
    }

    .section__delimiter {
      margin-top: 10px;
      border-top-color: #f9fafa;
    }

    .base__task-list {
      gap: .9em;
      margin-top: 1em;
      margin-bottom: 5em;

      .base__tasks-item {
        position: relative;
        justify-content: space-between;
        gap: 10px;
        height: fit-content;
        border: 2px solid #7e7e7e;
        border-radius: 16px;
        background: #f9fafa;

        @media (max-width: 415px) {
          flex-direction: column;
        }

        .tasks__item-indicator {
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          width: 3.5em;
          border-radius: 14px 0 0 14px;

          &.active {
            background: cornflowerblue;
          }

          &.complete {
            background: #1dc068;
          }

          .item__indicator-icon {
            color: #f9fafa;
          }
        }

        .tasks__item-info {
          flex: 1;
          margin-left: 4em;
          padding: 5px 0;
          font-size: 1rem;

          .tasks__item-title {
            font-weight: 600;
          }

          .tasks__item-description {
            color: #6b6b6b;
          }
        }

        .tasks__item-actions {
          gap: 5px;
          margin-right: 5px;

          .complete__item-icon {
            color: #1dc068;
          }

          .delete__item-icon {
            color: #d91141;
          }
        }
      }
    }
  }
}
