<div class="base__container">
  <header class="base__header flex-row">
    <div class="base__header-title flex-row">
      <img class="base__header-logo" src="./assets/images/modo-logo.png" alt="logo">

      <span class="title">MoDo</span>
    </div>

    <div class="base__header-info flex-row">
      <span class="header__info-elem">
        {{ getActiveTaskCount() === 0 || getActiveTaskCount() > 1 ? 'Active tasks' : 'Active task'}}:
        <span class="active__elem">{{ getActiveTaskCount() }}</span>
      </span>

      <span class="header__info-elem">
        {{ getCompletedTaskCount() === 0 || getCompletedTaskCount() > 1 ? 'Completed tasks' : 'Completed task' }}:
        <span class="completed__elem">{{ getCompletedTaskCount() }}</span></span>
    </div>
  </header>

  <div class="base__main">
    <div class="base__main-info flex-col">
      <div class="mein__title flex-row">
        <mat-icon class="main__title-icon">scatter_plot</mat-icon>

        <span class="title">Task List</span>
      </div>

      <div class="main__description">
        <span class="description__item">Use this app to manage and track your personal tasks.</span>

        <span class="description__item flex-row">Click <mat-chip>New</mat-chip> to create a new issue right on this board.</span>
      </div>
    </div>

    <div class="base__main-actions flex-row">
      <div class="main__actions-title flex-row">
        <mat-icon>dashboard</mat-icon>

        <span>Board view</span>

        <button class="new__task-button" mat-button (click)="openTaskDialog()">New</button>
      </div>

      <div class="main__actions-filters flex-row">
        <modo-search-tasks
          (onSearchChanged)="onSearchChanged($event)"
        ></modo-search-tasks>
      </div>
    </div>

    <mat-divider class="section__delimiter"></mat-divider>

    <div class="base__task-list flex-col" *ngIf="tasks$ | async as tasks">
      <ng-container *ngFor="let task of tasks">
        <div class="base__tasks-item flex-row">
          <div class="tasks__item-indicator flex-row-center" [ngClass]="{ 'active': task.is_active, 'complete': !task.is_active }">
            <mat-icon class="item__indicator-icon" *ngIf="!task.is_active">done_all</mat-icon>
          </div>

          <div class="tasks__item-info flex-col">
            <span class="tasks__item-title">{{ task.title }}</span>

            <span class="tasks__item-description">{{ task.description }}</span>
          </div>

          <div class="tasks__item-actions flex-row">
            <button class="edit__item" mat-icon-button (click)="openTaskDialog('edit', task)">
              <mat-icon class="edit__item-icon item__action-icon">edit</mat-icon>
            </button>

            <button class="complete__item" *ngIf="task.is_active" mat-icon-button (click)="completeTask(task)">
              <mat-icon class="complete__item-icon item__action-icon">done_all</mat-icon>
            </button>

            <button class="delete__item" mat-icon-button (click)="deleteTask(task)">
              <mat-icon class="delete__item-icon item__action-icon">delete</mat-icon>
            </button>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
